.container{
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
    h1{
        font-size: var(--fs-milli);
    }
    button{
        color:var(--c-primary);
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
        
    }
}