.container{
    margin-bottom: 0.5em;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .title{
        font-weight: var(--fw-700);
        font-size: var(--fs-h2);
    }
    .show-more{
        font-size: var(--fs-nano);
        font-weight: var(--fw-700);
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
        &:focus-visible{
            text-decoration: underline;
        }
        color: var(--c-primary);
    }
}