@use "abstract/media-query.scss" as *;
.container {
  .footer {
    margin-top: 1.5em;
    border-top: 1px solid var(--c-border);
    display: none;
    @include mq("xx-large") {
      display: block;
    }
  }
  .decription {
    display: flex;
    flex-wrap: wrap;
    color: var(--c-tertiary);
    column-gap: 0.75em;
    padding: 0.5em 1em;
    span{
      font-size: var(--fs-pico);
      margin: 2px 0;
    }
    a {
      cursor: pointer;
      margin: 2px 0;
      &:focus-visible {
        text-decoration: underline;
      }
      &:hover {
        text-decoration: underline;
      }
      font-size: var(--fs-pico);
    }
  }
  &::-webkit-scrollbar {
    width: 0;
  }
  position: sticky;
  height: 100dvh;
  overflow-y: auto;
  grid-template-rows: max-content 1fr auto;
  display: grid;
  border-right: 1px solid var(--c-border);
  max-height: 100vh;
  top: 0;
  .navbar {
  }
  .logo {
    padding: 0.2em 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq("xx-large") {
      align-items: start;
      justify-content: start;
    }
    margin-bottom: 0.2em;
  }
}
